.mainGrid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    background-color: gainsboro;
    justify-content: space-evenly;
}
.mainTXT{
    display: grid;
    grid-template-columns: auto auto;
}
.item1 {
    background-color: #7296be;
}
.item2 {
    background-color: brown;
}

.main {
    justify-content: center;
    padding: 10px;
}
.centerSocial{
    text-align: center;
}

.socialsgrid {
    display: grid;
    grid-template-columns: auto auto;

}

